<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>
<th:block layout:fragment="content">
    <h4 class="mb-4">Candle subscriptions</h4>
    <div th:switch="${#lists.isEmpty(candleSubscriptions)}">
        <span th:case="true">There are no candle subscriptions</span>
        <div th:case="false">
            <table class="table">
                <thead>
                <tr>
                    <th>Instrument id</th>
                    <th>Ticker</th>
                    <th>Candle interval</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="candleSubscription : ${candleSubscriptions}">
                    <td th:text="${candleSubscription.instrument.id}"></td>
                    <td th:text="${candleSubscription.instrument.ticker}"></td>
                    <td th:text="${candleSubscription.candleInterval}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</th:block>
</body>
</html>
