<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>
<th:block layout:fragment="content">
    <h4 class="mb-5">Backtesting analyze</h4>
    <form id="analyzeForm" action="#" th:action="@{/ui/backtesting/analyze}" th:object="${analyzeStrategyRequest}"
          method="post" class="row gy-3 mb-5">
        <div class="col-12"><h5>Base parameters</h5></div>
        <div class="col-6">
            <div class="row gy-3">
                <div class="col-6">
                    <label for="strategyType" class="form-label">Strategy type</label>
                    <select id="strategyType" class="form-select" th:field="*{strategyType}">
                        <option value="" selected hidden>Select a strategy type</option>
                        <option th:each="strategyType : ${strategyTypes}"
                                th:value="${strategyType}"
                                th:text="${strategyType}">
                            Strategy type
                        </option>
                    </select>
                </div>
                <div class="col-6">
                    <label for="candleInterval" class="form-label">Candle interval</label>
                    <select id="candleInterval" class="form-select" th:field="*{candleInterval}">
                        <option value="" selected hidden>Select a candle interval</option>
                        <option th:each="candleInterval : ${candleIntervals}"
                                th:value="${candleInterval}"
                                th:text="${candleInterval}">
                            Candle interval
                        </option>
                    </select>
                </div>
                <div class="col-6">
                    <label for="instrumentId" class="form-label">Instrument id</label>
                    <input id="instrumentId" type="text" class="form-control" th:field="*{instrument.id}">
                </div>
                <div class="col-6">
                    <label for="instrumentTicker" class="form-label">Ticker</label>
                    <input id="instrumentTicker" type="text" class="form-control" th:field="*{instrument.ticker}">
                </div>
                <div class="col-6">
                    <label for="fromDate" class="form-label">Date from</label>
                    <input id="fromDate" type="date" name="from" class="form-control" th:value="*{from}">
                </div>
                <div class="col-6">
                    <label for="toDate" class="form-label">Date to</label>
                    <input id="toDate" type="date" name="to" class="form-control" th:value="*{to}">
                </div>
                <div class="w-100"></div>
                <div class="col-6">
                    <div id="strategyParameters" class="row gy-3">
                        <th:block th:if="*{not #maps.isEmpty(strategyParameters)}">
                            <div class="col-12">
                                <h5>Strategy parameters</h5>
                            </div>
                            <th:block th:each="strategyParameter,strategyParameterStat : *{strategyParameters}">
                                <div class="col-12">
                                    <label class="form-label" th:text="${strategyParameter.key}"
                                           th:for="${strategyParameter.key}"></label>
                                    <input class="form-control" th:id="${strategyParameter.key}"
                                           th:field="*{strategyParameters[__${strategyParameter.key}__]}"
                                           type="text">
                                </div>
                            </th:block>
                            <div class="col-12 mt-4">
                                <button type="submit" class="btn btn-primary">Analyze</button>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <th:block th:if="${analyzeResult != null}">
        <h4 class="mb-4">Strategy analyze results</h4>
        <table class="table caption-top w-50">
            <tbody>
            <tr>
                <td>Gross value</td>
                <td th:text="${#numbers.formatDecimal(analyzeResult.grossValue,1,4)}"></td>
            </tr>
            <tr>
                <td>Net value</td>
                <td th:text="${#numbers.formatDecimal(analyzeResult.netValue,1,4)}"></td>
            </tr>
            <tr>
                <td>Profit trades count</td>
                <td th:text="${analyzeResult.profitTradesCount}"></td>
            </tr>
            <tr>
                <td>Losing trades count</td>
                <td th:text="${analyzeResult.losingTradesCount}"></td>
            </tr>
            </tbody>
        </table>

        <div class="accordion" id="accordionMonthAnalyzeResult">
            <div class="accordion-item"
                 th:each="monthAnalyzeResult,monthAnalyzeResultStat : ${analyzeResult.strategyAnalyzeResultByMonth}">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            aria-expanded="false" data-bs-target="#monthAnalyzeResult-"
                            aria-controls="monthAnalyzeResult-"
                            th:attrappend="data-bs-target=${monthAnalyzeResultStat.index},aria-controls=${monthAnalyzeResultStat.index}">
                        <span class="pe-2" th:text="${monthAnalyzeResult.key}"></span>
                        <span th:class="'px-2 ' + (${monthAnalyzeResult.value.netValue >= 0} ? 'text-success' : 'text-danger')"
                              th:text="|Net: ${#numbers.formatDecimal(monthAnalyzeResult.value.netValue,1,4)}|"></span>
                        <span th:class="'px-2 ' + (${monthAnalyzeResult.value.grossValue >= 0} ? 'text-success' : 'text-danger')"
                              th:text="|Gross: ${#numbers.formatDecimal(monthAnalyzeResult.value.grossValue,1,4)}|"></span>
                        <span class="px-2"
                              th:text="|Trades: ${monthAnalyzeResult.value.tradesCount}|"></span>
                    </button>
                </h2>
                <div id="monthAnalyzeResult-" th:attrappend="id=${monthAnalyzeResultStat.index}"
                     class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <table class="table caption-top w-50">
                            <caption>Month results</caption>
                            <tbody>
                            <tr>
                                <td>Gross value</td>
                                <td th:text="${#numbers.formatDecimal(monthAnalyzeResult.value.grossValue,1,4)}"></td>
                            </tr>
                            <tr>
                                <td>Net value</td>
                                <td th:text="${#numbers.formatDecimal(monthAnalyzeResult.value.netValue,1,4)}"></td>
                            </tr>
                            <tr>
                                <td>Profit trades count</td>
                                <td th:text="${monthAnalyzeResult.value.profitTradesCount}"></td>
                            </tr>
                            <tr>
                                <td>Losing trades count</td>
                                <td th:text="${monthAnalyzeResult.value.losingTradesCount}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="accordion" id="accordionDayAnalyzeResult">
                            <div class="accordion-item"
                                 th:each="dayAnalyzeResult,dayAnalyzeResultStat : ${monthAnalyzeResult.value.strategyAnalyzeResultByDay}">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            aria-expanded="false" data-bs-target="#dayAnalyzeResult-"
                                            aria-controls="dayAnalyzeResult-"
                                            th:attrappend="data-bs-target=${dayAnalyzeResultStat.index},aria-controls=${dayAnalyzeResultStat.index}">
                                        <span class="pe-2" th:text="${dayAnalyzeResult.key}"></span>
                                        <span th:class="'px-2 ' + (${dayAnalyzeResult.value.netValue >= 0} ? 'text-success' : 'text-danger')"
                                              th:text="|Net: ${#numbers.formatDecimal(dayAnalyzeResult.value.netValue,1,4)}|"></span>
                                        <span th:class="'px-2 ' + (${dayAnalyzeResult.value.grossValue >= 0} ? 'text-success' : 'text-danger')"
                                              th:text="|Gross: ${#numbers.formatDecimal(dayAnalyzeResult.value.grossValue,1,4)}|"></span>
                                        <span class="px-2"
                                              th:text="|Trades: ${dayAnalyzeResult.value.tradesCount}|"></span>
                                    </button>
                                </h2>
                                <div id="dayAnalyzeResult-" th:attrappend="id=${dayAnalyzeResultStat.index}"
                                     class="accordion-collapse collapse">
                                    <div class="accordion-body">
                                        <table class="table caption-top w-50">
                                            <caption>Day results</caption>
                                            <tbody>
                                            <tr>
                                                <td>Gross value</td>
                                                <td th:text="${#numbers.formatDecimal(dayAnalyzeResult.value.grossValue,1,4)}"></td>
                                            </tr>
                                            <tr>
                                                <td>Net value</td>
                                                <td th:text="${#numbers.formatDecimal(dayAnalyzeResult.value.netValue,1,4)}"></td>
                                            </tr>
                                            <tr>
                                                <td>Profit trades count</td>
                                                <td th:text="${dayAnalyzeResult.value.profitTradesCount}"></td>
                                            </tr>
                                            <tr>
                                                <td>Losing trades count</td>
                                                <td th:text="${dayAnalyzeResult.value.losingTradesCount}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table class="table caption-top">
                                            <caption>Trades</caption>
                                            <thead>
                                            <tr>
                                                <th>Entry time</th>
                                                <th>Exit time</th>
                                                <th>Net value</th>
                                                <th>Gross value</th>
                                                <th>Direction</th>
                                                <th>Entry net price</th>
                                                <th>Exit net price</th>
                                                <th>Entry gross price</th>
                                                <th>Exit gross price</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="trade : ${dayAnalyzeResult.value.trades}">
                                                <td th:text="${#temporals.format(trade.entry.date, 'dd.MM HH:mm')}"></td>
                                                <td th:text="${trade.exit != null} ? ${#temporals.format(trade.exit.date, 'dd.MM HH:mm')}: ''"></td>
                                                <td th:text="${#numbers.formatDecimal(trade.netValue,1,4)}"
                                                    th:class="${trade.netValue >= 0} ? 'text-success' : 'text-danger'"></td>
                                                <td th:text="${#numbers.formatDecimal(trade.grossValue,1,4)}"
                                                    th:class="${trade.grossValue >= 0} ? 'text-success' : 'text-danger'"></td>
                                                <td th:text="${trade.entry.direction.name() == 'BUY'}? 'LONG' : 'SHORT'"></td>
                                                <td th:text="${#numbers.formatDecimal(trade.entry.netPrice,1,4)}"></td>
                                                <td th:text="${trade.exit != null} ? ${#numbers.formatDecimal(trade.exit.netPrice,1,4)}: ''"></td>
                                                <td th:text="${#numbers.formatDecimal(trade.entry.grossPrice,1,4)}"></td>
                                                <td th:text="${trade.exit != null} ? ${#numbers.formatDecimal(trade.exit.grossPrice,1,4)}: ''"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</th:block>
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/reload-strategy-parameters.js}"></script>
</th:block>
</body>
</html>
